{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<div class="brand-story-section">
  <div class="page-width">
    <div class="grid grid--no-gutters">
      <div class="grid__item small--one-whole medium-up--one-half large-up--one-third brand-copy">
        <div class="content">
          {% if section.settings.title != blank %}
            <h2>{{ section.settings.title | escape }}</h2>
          {% endif %}
          {% if section.settings.text != blank %}
            <p>{{ section.settings.text }}</p>
          {% endif %}
        </div>
          {% if section.settings.button_label != blank and section.settings.button_link != blank %}
            <a href="{{ section.settings.button_link }}" class="btn btn--secondary hero__btn">
              {{ section.settings.button_label }}
            </a>
          {% endif %}        
      </div>
      <div class="background-image">
        <img src="{{ section.settings.image | img_url: '800x' }}">
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Image banner",
    "class": "index-section index-section--flush",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Brand story"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "Brand story text"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Brand banner",
        "category": "Image"
      }
    ]
  }
{% endschema %}
