{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{% assign product_description = product.description %}
{% assign product_has_read_more = false %}
{% if product_description contains '---' %}
  {% assign product_has_read_more = true %}
  {% assign product_description_split = product_description | split: '<p>---</p>' %}
{% endif %}

<div class="product-template__container page-width-large" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
  <meta itemprop="name" content="{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}">
  <meta itemprop="url" content="{{ langify_shop_url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">
{% if product.metafields.stamped.reviews_count and product.metafields.stamped.reviews_count != "0" %} 
<div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"> 
<span itemprop="itemReviewed" content="{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}"></span> 
<span itemprop="ratingValue" content="{% comment %}ly_code_replace_for_[ product.metafields.stamped.reviews_average | round:2 ]_begin{% endcomment %}{% if request.host %}{% assign host = request.host %}{% assign domains = shop.metafields.language_domains %}{% for domain in domains %}{% assign key = domain | first %}{% assign value = domain | last | split: ',' %}{% if value contains host %}{% assign language = key %}{% endif %}{% endfor %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% else %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% endif %}{% assign ns = language | append: 'stamped' %}{% assign key = 'reviews_average' %}{% if product.metafields[ns][key] %}{% assign ly_translation = product.metafields[ns][key] %}{% else %}{% assign ly_translation =  product.metafields.stamped.reviews_average | round:2  %}{% endif %}{{ ly_translation | round:2 }}{% comment %}ly_code_replace_end{% endcomment %}"></span> 
<span itemprop="ratingCount" content="{% comment %}ly_code_replace_for_[ product.metafields.stamped.reviews_count ]_begin{% endcomment %}{% if request.host %}{% assign host = request.host %}{% assign domains = shop.metafields.language_domains %}{% for domain in domains %}{% assign key = domain | first %}{% assign value = domain | last | split: ',' %}{% if value contains host %}{% assign language = key %}{% endif %}{% endfor %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% else %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% endif %}{% assign ns = language | append: 'stamped' %}{% assign key = 'reviews_count' %}{% if product.metafields[ns][key] %}{% assign ly_translation = product.metafields[ns][key] %}{% else %}{% assign ly_translation =  product.metafields.stamped.reviews_count  %}{% endif %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}"></span> 
</div> 
{% endif %}
  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_thumb_size = '160x' -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign enable_zoom = section.settings.enable_zoom -%}

  <div class="grid product-single">
    <div class="{% if product.images.size > 1 %}grid__item small--hide medium-up--hide large-up--show large-up--two-twelfths{% endif %} thumbnails">
      {% if product.images.size > 1 %}
        <div class="product-single__thumbnails slider-nav">
          {% for image in product.images %}
            {% for variant in image.variants %}
              <img src="{{ image.src | img_url: 'medium' }}" data-id="{{ variant.id }}" class="product-single__photos--thumbnail">
            {% else %}
              <img src="{{ image.src | img_url: 'medium' }}" class="product-single__photos--thumbnail">
            {% endfor %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <div class="grid__item small--one-whole {% if product.images.size > 1 %}medium-one--whole large-up--seven-twelfths{% endif %} {% if product.images.size <= 1 %}medium--one-whole large-up--eight-twelfths{% endif %} feature_image">
      {% if product.images.size > 1 %}
        <div class="product-single__photos slider-for">
          {% for image in product.images %}
            {% for variant in image.variants %}
              <img src="{{ image.src | img_url: 'original' }}" data-id="{{ variant.id }}" class="product-single__photos--original">
            {% else %}
              <img src="{{ image.src | img_url: 'original' }}" class="product-single__photos--original">
            {% endfor %}
          {% endfor %}
        </div>
      {% else %}
        {%- assign featured_img_src = current_variant.featured_image.src | default: product.featured_image.src -%}
        {%- assign featured_img_alt = current_variant.featured_image.alt | default: product.featured_image.alt -%}
        <div id="FeaturedImageZoom" class="product-single__photo{% if product.images.size > 1 %} product-single__photo--has-thumbnails{% endif %}" {% if enable_zoom %}data-zoom="{{ featured_img_src | img_url: 'master' }}"{% endif %}>
          <img src="{{ featured_img_src | img_url: 'original' }}" alt="{{ featured_img_alt }}" id="FeaturedImage" class="product-featured-img{% if enable_zoom %} js-zoom-enabled{% endif %}">
        </div>
      {% endif %}
    </div>
    <div class="white_backgorund grid__item {% if product.images.size > 1 %}small--one-whole medium-one--whole large-up--three-twelfths{% endif %} {% if product.images.size <= 1 %}large-up--four-twelfths{% endif %}">
      <div class="grid__item small--one-whole medium--one-whole product_content">
      <div class="product-single__meta">

        {% if section.settings.show_type %}
          <p itemprop="brand" class="product-single__vendor">{% comment %}ly_code_replace_for_[ product.type ]_begin{% endcomment %}{% include 'ly-type' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</p>
        {% endif %}
        <h1 itemprop="name" class="h2 product-single__title">{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</h1>
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">

          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <p class="h4 product-single__price product-single__price-{{ section.id }}{% unless current_variant.available %} product-price--sold-out{% endunless %}">
            {% if current_variant.compare_at_price > current_variant.price %}
                <span class="visually-hidden">{% comment %}ly_i18n_replace_for_[ 'products.product.regular_price' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.regular_price' | t }}{% endcapture %}{% include 'ly-static-string' with '12585081' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
                <s class="h4" id="ComparePrice-{{ section.id }}">{% assign geolizr_price =  current_variant.compare_at_price  %}{{ current_variant.compare_at_price | money | prepend: geolizr_prepend_code | append: geolizr_append_code }}</s>
                <span class="h4 product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
                  <span id="ProductPrice-{{ section.id }}">{% assign geolizr_price =  current_variant.price  %}{{ current_variant.price | money | prepend: geolizr_prepend_code | append: geolizr_append_code }}</span>
                  <span class="product-price__sale-label product-price__sale-label-{{ section.id }}">{% comment %}ly_i18n_replace_for_[ 'products.product.on_sale' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.on_sale' | t }}{% endcapture %}{% include 'ly-static-string' with '12585082' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
                </span>
            {% else %}
              <span class="visually-hidden">{% comment %}ly_i18n_replace_for_[ 'products.product.regular_price' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.regular_price' | t }}{% endcapture %}{% include 'ly-static-string' with '12585081' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
              <s id="ComparePrice-{{ section.id }}" class="hide">{% assign geolizr_price =  current_variant.compare_at_price  %}{{ current_variant.compare_at_price | money | prepend: geolizr_prepend_code | append: geolizr_append_code }}</s>
              <span class="h4 product-price__price product-price__price-{{ section.id }}">
                <span id="ProductPrice-{{ section.id }}">{% assign geolizr_price =  current_variant.price  %}{{ current_variant.price | money | prepend: geolizr_prepend_code | append: geolizr_append_code }}</span>
                <span class="product-price__sale-label product-price__sale-label-{{ section.id }} hide">{% comment %}ly_i18n_replace_for_[ 'products.product.on_sale' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.on_sale' | t }}{% endcapture %}{% include 'ly-static-string' with '12585082' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>
              </span>
            {% endif %}
          </p>

          {% unless product.options.size == false %}
            <div class="product-single__description rte" itemprop="description">
              {% if product_has_read_more %}
                <p class="description_first">
                  {{ product_description_split | first }}
                </p>

                <div class="description_split description_hidden" style="max-height: ">
                    {{ product_description_split | last }}
                </div>

                {% if product.description contains "---" %}
                  <a href="#" class="description-more"><ly-as-12585076>Read more</ly-as-12585076></a>
                {% endif %}
              {% else %}
                {{ product_description }}
              {% endif %}
            
            </div>  
          {% endunless %}
          <div class="size-chart">
            <p class="fit"><ly-as-12585077>FIT:</ly-as-12585077></p><p class="fit_type">
              {% for tag in product.tags %}
                {% if tag contains "fit_" %}
                  {{ tag | remove: '<ly-as-12585078>fit_</ly-as-12585078>'}}
                {% endif %}
              {% endfor %}
            </p><a href="#inline" class="inline size-check"><ly-as-12585079>What size am i?</ly-as-12585079></a>
          </div>
          <div class="model-size">
            <p><ly-as-12585080>Model is 5’ 11” and wears a Medium.</ly-as-12585080></p>
          </div>
          <form action="/cart/add" method="post" enctype="multipart/form-data" data-id="{{ product.id }}" data-quantity="1" class="product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}" data-section="{{ section.id }}">
            <input type="hidden" id="current-variant">
            {% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
              {% for option in product.options_with_values %}
                {% assign option_handle = option.name | handle %}
                
                  <div class="selector-wrapper js product-form__item">
                    <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                      {% for value in option.values %}
                        <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                      {% endfor %}
                    </select>
                  </div>
              {% endfor %}
            {% endunless %}

            <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-form__variants no-js">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                    {% comment %}ly_code_replace_for_[ variant.title ]_begin{% endcomment %}{% include 'ly-title' with variant %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}
                  </option>
                {% else %}
                  <option disabled="disabled">{% comment %}ly_code_replace_for_[ variant.title ]_begin{% endcomment %}{% include 'ly-title' with variant %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %} - {% comment %}ly_i18n_replace_for_[ 'products.product.sold_out' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.sold_out' | t }}{% endcapture %}{% include 'ly-static-string' with '12585083' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</option>
                {% endif %}
              {% endfor %}
            </select>

            {% if section.settings.show_quantity_selector %}
              <div class="product-form__item--quantity">
                  <div class="product-form__item--quantity-container">
                    <button class='qtyminus' field='updates_{{ product.id }}'>{% include 'icon-minus' %}</button>
                    <input type="number" name="quantity" field='updates_{{ product.id }}' id="Quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*"/>
                    <button class='qtyplus' field='updates_{{ product.id }}'>{% include 'icon-plus' %}</button>
                  </div>
              </div>
            {% endif %}

            <div class="product-form__item product-form__item--submit">
              <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn btn--secondary hero__btn product-form__cart-submit{% if product.options.size == 1 and product.variants[0].title == 'Default Title' %} product-form__cart-submit--small{% endif %}">
                <span id="AddToCartText-{{ section.id }}">
                  {% unless current_variant.available %}
                    {% comment %}ly_i18n_replace_for_[ 'products.product.sold_out' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.sold_out' | t }}{% endcapture %}{% include 'ly-static-string' with '12585083' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
                  {% else %}
                    {% comment %}ly_i18n_replace_for_[ 'products.product.add_to_cart' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.add_to_cart' | t }}{% endcapture %}{% include 'ly-static-string' with '12585084' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}
                  {% endunless %}
                </span>
              </button>
            </div>
          </form>
          {% if section.settings.enable_shipping_notice %}
          <div class="delivery-note">
            <p>{{ section.settings.shipping_notice }}</p>
          </div>
          {% endif %}
        </div>
        

        {% if section.settings.show_share_buttons %}
          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
        {% endif %}
      </div>
    </div>
    </div>
  </div>
</div>
<div class="cross-sell-section">
  <div class="page-width-large">
    <div class="grid__item small--one-whole medium-up--one-whole">
      <h1 class="h2 text-center">{{ section.settings.cross_sell_title }}</h1>
      {% include 'cross-sell' %}
    </div>
  </div>
</div>

<div class="product-reviews-section">
  <div class="page-width-large">
    <div class="grid__item small--one-whole medium-up--one-whole">
      <div id="shopify-product-reviews" data-id="{{product.id}}">{% comment %}ly_code_replace_for_[ product.metafields.spr.reviews ]_begin{% endcomment %}{% if request.host %}{% assign host = request.host %}{% assign domains = shop.metafields.language_domains %}{% for domain in domains %}{% assign key = domain | first %}{% assign value = domain | last | split: ',' %}{% if value contains host %}{% assign language = key %}{% endif %}{% endfor %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% else %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% endif %}{% assign ns = language | append: 'spr' %}{% assign key = 'reviews' %}{% if product.metafields[ns][key] %}{% assign ly_translation = product.metafields[ns][key] %}{% else %}{% assign ly_translation =  product.metafields.spr.reviews  %}{% endif %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</div>
    </div>
  </div>
</div>


<div id="inline" style="display:none;">
  {% include 'product-modal' %}
</div>

{% unless product.empty? %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}

<script type="text/javascript">
  $('.inline').modaal();
</script>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_variant_labels",
        "label": "Show variant labels",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_type",
        "label": "Show product type",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable image zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
         "type": "header",
         "content": "Recommended products section"
      },
      {
        "type": "text",
        "id": "cross_sell_title",
        "label": "Recommended products title",
        "default": "You might also like"
      },
      {
         "type": "header",
         "content": "Shipping notice text"
      },
      {
        "type": "checkbox",
        "id": "enable_shipping_notice",
        "label": "Enable shipping notice",
        "default": true
      },
      {
        "type": "text",
        "id": "shipping_notice",
        "label": "Shipping notice text",
        "default": "Free UK delivery on all orders"
      }
    ]
  }
{% endschema %}
